
Unity/Library/ArtifactDB
Unity/Temp/workerlic
Unity/Temp/UnityLockfile
Unity/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Unity/Library/SourceAssetDB
Unity/Library/EditorInstance.json
Unity/Library/ArtifactDB
Unity/Library/Bee/backend_profiler0.traceevents
Unity/Library/Bee/fullprofile.json
Unity/Library/Bee/tundra.digestcache
Unity/Library/SourceAssetDB
Unity/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Unity/Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Unity/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Unity/Temp/__Backupscenes/0.backup
Unity/Temp/FSTimeGet-e8f26a309d808da44bd4d5b3358571fe
Unity/Temp/PropertyDatabase_1265138678
Unity/Temp/PropertyDatabase_2066312223
